html, body {
    width: 100%;
    height: 100%;
}

html{
    -webkit-tap-highlight-color: rgba(167, 12, 12, 0);
  }
  
  body{
    font:normal 75% Arial, Helvetica, sans-serif;
  }
  
  canvas{
    vertical-align: bottom;
  }
  
  @font-face {
    font-family: "Metropolis-SemiBold";
    src: url(assets/fonts/Metropolis-SemiBold.woff2);
  }
  
  #particles-js {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000000, #000000, #000000, #010006, #07011c); /* Градиентный фон */
    background-size: cover; /* Обеспечивает, что градиент занимает весь элемент */
    background-position: center; /* Центрирует градиент */
    background-repeat: no-repeat; /* Запрещает повторение фона */
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #241377;
}

#main {
    backdrop-filter: blur(20px);
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 9999; 
    min-width: 300px;
    width: 300px;  
    height: 500px;
    border: 1px solid #000000;
    background: linear-gradient(to bottom, #000000, #09090a, #09090a, #140844,  #140844); /* Более темный оттенок синего */
    align-items: center; 
    justify-content: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}



.logo__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img  {
    width: 10em;
    height: 10em;
    border-radius: 5.6em;
    background-color: rgb(255, 251, 251);

}

h2 {
    font-family: 'Metropolis-SemiBold', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: raleway;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#cursor {
    display: none;
}

#cursor.show {
    display: inline;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: "Metropolis-SemiBold";
    src: url(assets/fonts/Metropolis-SemiBold.woff2);
}

h3 {
    font-family: 'Metropolis-SemiBold', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px; /* Размер шрифта установлен на 245 пикселей */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    color: rgb(228, 228, 231); /* Цвет текста — белый */
    padding: 40px 0; /* Внутренние отступы: 40 пикселей сверху и снизу */
    width: auto; /* Автоматическая ширина */
    font-weight: 900; /* Жирный шрифт */
    height: 50px; /* Фиксированная высота 50 пикселей */
}




.button__link {
    gap: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soc {
    padding: 8px 20px;
    background-color: #a18cff;
    text-align: center;
    color: #a18cff;
    border-radius: 8px;
    width: 256px;
    text-align: center;
    text-decoration: none;

}

.button__block {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
}

.button__block {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 6px; /* Расстояние между кнопками 1 и 2 */
}

.button__link {
    flex: 1;
}



.soc {
    padding: 8px 20px;
    margin-top: 6px;
    background-color: #453492;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    width: 260px; /* Установите одинаковую ширину для всех кнопок */
    text-decoration: none;
    font-family: 'Metropolis-SemiBold', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}


.soc:hover {
    background-color: #0b032b;
    color: #000000;
    transition: 0.5s;
}

.soc a {
    color: #fff;
}




.soc:hover {
    background-color:  #322279;
    color: #e4bdbd;
    transition: 0.5s;
}

.soc a {
    color: #fff;
}

.work {
    gap: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    font-family: 'Metropolis-SemiBold', Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Установка шрифта Metropolis */
    font-size: larger;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    color: rgb(228, 228, 231);
}
